.card {
    max-width: 60%;
    margin: 2rem auto;
}

.input {
    margin: auto 2rem;
    padding: 5px;
}

h3 {
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

.select {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    margin: auto 2rem;
}

.select label,
.select Select {
    display: block;
}

.select label {
    flex: 1;
}

.select Select {
    flex: 3;
    border-radius: 6px;
    border-style: solid;
}