.input {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    margin: 1rem 0;
}

.input label,
.input input {
    display: block;
}

.input label {
    flex: 1;
}

.input input {
    flex: 3;
    border-radius: 6px;
    border-style: solid;
}